body {
  background-color: black;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(0, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 90px;
  text-align: center;
  box-shadow: 0px 0px 20px rgb(0, 255, 255);
  cursor: pointer;
  text-shadow: 0px 0px 30px rgb(238, 238, 238);
}

.tic-tac-toe {
  font-family: monospace;
  color: white;
  text-align: center;
}

.header-game {
  margin-bottom: 50px;
}

.cell-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
}

.status-bar {
  font-size: 20px;
}

.score-status {
  font-size: 15px;
}

.restart-button, .change-player{
  background-color: rgb(255, 255, 255);
  border: none;
  width: 150px;
  height: 25px;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(238, 238, 238);
  cursor: pointer;
}

.result-counter {
  color: white;
  font-size: 15px;
}